*{
    margin: 0;
    padding: 0;
}

.texto-negro{
    color: black;
    font-size: 1.5rem;
}
.texto-negro h5{
    color: black;
    font-size: 2rem;
}
.icono-32{
    font-size: 3.5rem;
    color: black;
}
.icono-32:hover{
    color: #007bff;
}
.text-32{
    font-size: 0.8rem;
}
.text-size-50{
    font-size: 2rem;
}
.fa-youtube:hover{
    color: red;
}
.fa-twitter-square:hover{
    color: #7abaff;
}
.w-150{
    width: 150%;
}
.border-box{
    border: 1px solid green;
    border-radius: 25px;
}